.darkAndMode button {
  background: transparent;
  border: none;
  font-size: 23px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .darkAndMode {
    display: flex;
    justify-content: flex-end;
  }
}
