.header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  position: sticky;
  left: 0;
  top: 0;
}
.header .container {
  display: grid;
  grid-template-columns: 20% 72% 8%;
  align-items: center;
  position: relative;
}
.logo img {
  width: 130px;
}
.navbar {
  height: 60px;
  position: relative;

  display: grid;
  align-items: center;
}
.menu-icon {
  border: none;
  background: transparent;
  display: none;
  color: #28a745;
  font-size: 1.8rem;
  text-align: right;
}
.nav-elements {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-elements ul li:last-child {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--roboto_font);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s linear;
}
.nav-elements ul li a:hover {
  color: #40b976;
  font-weight: 600;
}
.nav-elements ul li a.active {
  color: #40b976;
  font-weight: 600;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.5s;
}
.social-icons {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.social-icons ul {
  display: flex;
  justify-content: center;
}
.social-icons ul li a {
  font-size: 20px;
  color: #40b976;
}
.social-icons ul li:first-child {
  margin-right: 20px;
}
.social-icons .resumeBtn {
  text-align: center;
  display: none;
}

/* Header social-icons end*/
@media (max-width: 992px) {
  .header {
    padding: 20px 20px;
  }
  .header nav {
    align-items: center;
    justify-content: flex-end;
  }
  .header .buttons {
    margin-left: 0;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    padding-right: 20px;
  }
  .header .buttons .btn {
    display: block;
  }
  .header .buttons .btn:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .header .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .nav-elements {
    display: block;
    position: absolute;
    right: -228%;
    top: 80px;
    width: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .nav-elements.active {
    width: 230px;
    background: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 999;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 40px;
  }
  .nav-elements ul {
    align-items: start;
    padding-left: 20px;
  }

  .social-icons {
    grid-template-columns: 100%;
    align-items: start;
    margin-top: 40px;
  }
  .social-icons .resumeBtn {
    text-align: left;
    padding-left: 20px;
  }
  .social-icons .resumeBtn {
    display: block;
  }
}
@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
